//
//               variable
//--------------------------------------------

$background-color: rgba(208, 2, 27, 0.5);
$background-image: url("/data/data/tvbz/webpage/img/bk-love.jpg");
$background-image-holiday: url("/data/data/tvbz/webpage/img/love.jpg");
$background-image-shadow: url("/data/data/tvbz/webpage/img/shadow-red.png");
$background-header-color: #191919;
$background-footer-color: #191919;

$border-color: rgba(0,0,0,0.2);
$border-width: 1px;
$border-style: solid;
$border: $border-width $border-style $border-color;
$border-radius: 2px;

$box-shadow-color: #FFF;
$box-shadow: 0px 0px 7px $box-shadow-color;

$font-color: #FFF;
$font-gray-color: #804923;
$font-gray-color-2: #FFA864;
$font-family: "Droid Sans Fallbac","Microsoft YaHei";
$font-size-base: 24px;
$font-size-large: 30px;
$font-size-small: 20px;

$height: 720px;
$height-2: 604px;
$height-3: 450px;
$height-header: 68px;
$height-footer: 48px;

$width: 100%;
$width-1: 1280px;
$width-2: 680px;


$outline: 1px solid #3A87AD;

$shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);