$background-color: rgba(92, 90, 120, 0.7);
$background-image: url("../img/bk.jpg");
$background-image-holiday: url("../img/love.png");
$background-image-shadow: url("../img/shadow-normal.png");

$background-header-color: #191919;
$background-footer-color: #191919;
$background-black-opacity-color: rgba(0,0,0,0.7);

$border-color: rgba(0,0,0,0.2);
$border-width: 1px;
$border-style: solid;
$border: $border-width $border-style $border-color;
$border-radius: 2px;

$box-shadow-color: #FFF;
$box-shadow: 0px 0px 7px $box-shadow-color;

$font-color: #FFF;
$font-gray-color: darken($font-color,40%);
$font-warn-color: #FFA864;
$font-aside-color: #AAA;
$font-family: "Droid Sans Fallbac","Microsoft YaHei";
$font-size-base: 24px;
$font-size-large: 30px;
$font-size-small: 20px;

$height: 720px;
$height-2: 604px;
$height-holiday: 452px;
$height-header: 68px;
$height-footer: 48px;

$width: 100%;
$width-1: 1280px;
$width-2: 680px;

$outline: 1px solid #3A87AD;

$shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);

@mixin center-box
 {
    width: 100%;
    height: $height-2;
    overflow: hidden;
    position: relative;
}

@mixin border{
    border: $border;
    border-radius: $border-radius;
}

@mixin button{
    @extend .color-box;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    @include border;
}

@mixin active{
    border: 2px solid $border-color !important;
    box-shadow: $box-shadow;
    position: relative;
    z-index: 999;
}

@mixin animation {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    transition: -webkit-transform 0.5s;
}

@mixin mask{
    background-color: rgba(0,0,0,0.1);
}

@mixin blackOpacity{
    position: fixed;
    width: $width;
    height: $height;
    background-color: $background-black-opacity-color;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
    font-family: $font-family;
    color: $font-color;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    width: 100%;
    height: $height;
    overflow: hidden;
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

a {
    text-decoration: none;
}

aside{
    
}

b{

}

details{
    
}

header{
    width: $width;
    height: $height-header;
    background-color: $background-header-color;
}

footer{
    width: $width;
    height: $height-footer;
    background-color: $background-footer-color;
}

figure{

}

figcaption{
    
}

label{

}

img {
    border: 0;
}

input {
    outline: none;
}

li {
    list-style: none;
}

ul{
    list-style: none;
}

/* ul::after{
  content: "";
  clear: both;
  display: table;
} */

nav{

}
/* 
.active{
    @include active;
} */

.animation{
    @include animation;
}

.banner{

}

.black-opacity{
    @include blackOpacity;
}
.button{
    @include button;
}

.center-box{
    @include center-box;
}

.clear {
    clear: both;
}

.color-box{
    background-color: $background-color;
}

.dialog{
    @extend .element-block;
}

.element-block{
    @extend .color-box;
    position: relative;
}

.footer{
    position: fixed;
    bottom: 0px;
}

.header{
    position: fixed;
    top: 0px;
}

.holiday-box{
    width: $width-2 !important;
    height: $height-holiday !important; 
    background-image: $background-image-holiday;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
}

.holiday-box figcaption{
    position: absolute;
    bottom: 0px;
    padding: 15px;
    @extend .color-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.holiday-name{
    font-size: 20px;
    font-weight: bold;
}

.holiday-things{
    text-indent: 2em;
}

.item-box{
    @extend .element-block;
}

.mask{
    @include mask;
}

.main-box{
    @extend .item-box;
}

.nav{

}

.nav-box{
    @extend .element-block;
}

.outline {
    outline: $outline;
}

.reflect{
    /* -webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,black); */
}

.reflect::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    background-image: linear-gradient($background-color,transparent 99%);
    bottom: -41px;
    left: 0px;
}

.shadow{
    box-shadow: $shadow;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.title{
    @extend .element-block;
    border-bottom: $border;
}

.title-box{
    @extend .element-block;
}


/*------------*/
/* index.html */
/*------------*/
.thl_banner_li{
    @extend .item-box;
}

.thl_top_menu_item{
    color: $font-gray-color; 
}

.thl_banner_li_bottom{
    @extend .reflect;
}

.on{
    background-image: $background-image-shadow;
    @extend .animation;
}

/*----------------------*/
/* hotel-construct.html */
/*----------------------*/

.hotel_hidden_item{
    @extend .item-box;
}

/*------------*/
/* music.html */
/*------------*/

.music_title,.music_main_li,#blank_box,.music_bottom_bt,#bottom_box{
    @extend .item-box;
}

.music_title{
    @extend .shadow;
}

.music_main_li{
    border-bottom: $border;
}

.music_title_item{
    color: $font-gray-color; 
}

/* #blank_box,#bottom_box{
    border: $border;
} */

/*--------------*/
/* weather.html */
/*--------------*/

.abslt_box,.weather_top_box,.tomorrow_weather,.after_weather{
    @extend .item-box;
}

.weather_left_country,.weather_right_date,.weather_detial_img,.weather_detial_text,.weather_source,.tomorrow_weather_title,.after_weather_title,.other_day_img,.other_day_text{
    border: $border;
}

.weather_detial_text,.other_day_text,.weather_right_date,.weather_source,.tomorrow_weather_title,.after_weather_title{
    @extend .mask;
}

/*---------------*/
/* timezoon.html */
/*---------------*/

.timezone_item{
    @extend .mask;
    border-left: $border;
    border-right: $border;
}

.timezone_map{
    @extend .mask;
}

.timezone_country_name_box,.timezone_country_time_box{
    border-bottom: $border;
}

/*--------------*/
/* exmoney.html */
/*--------------*/

.exmoney_bottom_info{
    @extend .item-box;
}

.exmoney_active{
    @extend .mask;
    border-right: $border;
}

.exmoney_zhzsj{
    @extend .mask;
}

.country_img, .country_name, .country_exchange, .exmoney_zhzsj, .country_img_ex, .country_name_ex, .country_exchange_ex {
    border-bottom: $border;
}

#exmoney_info{
    color: $font-aside-color;
}

/*-----------------------*/
/* room-imformation.html */
/*-----------------------*/

.roominfo_title,.information_title{
    border: $border;
    @extend .shadow;
}
.roominfo_title,.roominfo_title_title > li,.roominfo_hidden_box > li{
    border-bottom: $border;
}

.roominfo_holder{
    @extend .mask;
    border: $border;
}

.information_info,.information_content{
    @extend .mask;
    border: $border; 
}

#chanschu,#fanhui{
    @extend .item-box;
}

/*---------------*/
/* language.html */
/*---------------*/

.language_item{
    border: $border;
}

#language_h1{
    @extend .shadow;
}

.language_item span{
    @extend .mask;
}

/*----------*/
/* pin.html */
/*----------*/

.pin_sub{
    @extend .item-box;
}

.pin_zy{
    color: $font-aside-color;
}

/*------------*/
/* group.html */
/*------------*/

.groupbuy_title{
    @extend .shadow;
}

.group_bottom{
    border-top: $border;
}

.group_title{
    @extend .mask;
    border: $border;
}
.groupbuy_title_item{
    color: $font-gray-color;
}

/*--------------*/
/* tv-list.html */
/*--------------*/

.tv_left_top{
    @extend .item-box;
}

.navsite{
    @extend .item-box;
    border-bottom: $border;
}

.tv_box,.tv_right,.box_top,.box_body,.sub{
    @extend .item-box;
}

.tv_box_logo{
    border-right: $border;
}

/*------------*/
/* movie.html */
/*------------*/

.movie_li_bottom{
    @extend .item-box;
}

.tv_player{
    @extend .item-box;
}

.box_top1,.box_body2,.box_top,.box_body{
    @extend .item-box;
    border: $border;
}

#info_1 {
    color: $font-aside-color;
}

#bg{
    @extend .black-opacity;
}

.trailers_ment li {
    color: $font-gray-color;
}

.Plot_right_bg {
    @extend .item-box;
}

.Plot_li_box{
    @extend .item-box;
}

.sub_1,.sub_2{
    @extend .item-box;
}

/*--------------*/
/* my-bill.html */
/*--------------*/
