.weather-0 {
  background-position: 0px 0px; }

.weather-14 {
  background-position: 0px -71px; }

.weather-28 {
  background-position: 0px -142px; }

.weather-42 {
  background-position: 0px -213px; }

.weather-1 {
  background-position: -71px 0px; }

.weather-15 {
  background-position: -71px -71px; }

.weather-29 {
  background-position: -71px -142px; }

.weather-43 {
  background-position: -71px -213px; }

.weather-2 {
  background-position: -142px 0px; }

.weather-16 {
  background-position: -142px -71px; }

.weather-30 {
  background-position: -142px -142px; }

.weather-44 {
  background-position: -142px -213px; }

.weather-3 {
  background-position: -213px 0px; }

.weather-17 {
  background-position: -213px -71px; }

.weather-31 {
  background-position: -213px -142px; }

.weather-45 {
  background-position: -213px -213px; }

.weather-4 {
  background-position: -284px 0px; }

.weather-18 {
  background-position: -284px -71px; }

.weather-32 {
  background-position: -284px -142px; }

.weather-46 {
  background-position: -284px -213px; }

.weather-5 {
  background-position: -355px 0px; }

.weather-19 {
  background-position: -355px -71px; }

.weather-33 {
  background-position: -355px -142px; }

.weather-47 {
  background-position: -355px -213px; }

.weather-6 {
  background-position: -426px 0px; }

.weather-20 {
  background-position: -426px -71px; }

.weather-34 {
  background-position: -426px -142px; }

.weather-48 {
  background-position: -426px -213px; }

.weather-7 {
  background-position: -497px 0px; }

.weather-21 {
  background-position: -497px -71px; }

.weather-35 {
  background-position: -497px -142px; }

.weather-49 {
  background-position: -497px -213px; }

.weather-8 {
  background-position: -568px 0px; }

.weather-22 {
  background-position: -568px -71px; }

.weather-36 {
  background-position: -568px -142px; }

.weather-50 {
  background-position: -568px -213px; }

.weather-9 {
  background-position: -639px 0px; }

.weather-23 {
  background-position: -639px -71px; }

.weather-37 {
  background-position: -639px -142px; }

.weather-51 {
  background-position: -639px -213px; }

.weather-10 {
  background-position: -710px 0px; }

.weather-24 {
  background-position: -710px -71px; }

.weather-38 {
  background-position: -710px -142px; }

.weather-52 {
  background-position: -710px -213px; }

.weather-11 {
  background-position: -781px 0px; }

.weather-25 {
  background-position: -781px -71px; }

.weather-39 {
  background-position: -781px -142px; }

.weather-53 {
  background-position: -781px -213px; }

.weather-12 {
  background-position: -852px 0px; }

.weather-26 {
  background-position: -852px -71px; }

.weather-40 {
  background-position: -852px -142px; }

.weather-54 {
  background-position: -852px -213px; }

.weather-13 {
  background-position: -923px 0px; }

.weather-27 {
  background-position: -923px -71px; }

.weather-41 {
  background-position: -923px -142px; }

.weather-55 {
  background-position: -923px -213px; }
