//weather sprite

$width: -71px;
$height: $width;

@for $tr from 0 through 13 {
    @for $td from 0 through 3 {
        .weather-#{$tr+$td*14} {
            background-position: $width*$tr  $height*$td;
        }
    }
}
